auto-install-peers=true
strict-peer-dependencies=false
resolution-mode=highest
shamefully-hoist=false
enable-pre-post-scripts=true
save-exact=false
engine-strict=false
link-workspace-packages=true
prefer-workspace-packages=true
